<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="1"
        version   = "0.0.2">
    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="2.7.0" />

    <name>Social Mobile App</name>

    <description>
        An example application to demonstrate Backbone.js and jQueryMobile capabilities.
    </description>

    <author href="http://vmirgorod.name"
        email="dealancer@gmail.com">
        Vadim Mirgorod
    </author>

    <icon src="icon.png" gap:role="default" />

    <preference name="orientation" value="portrait" />
</widget>
